.about-us {
  grid-column: page-start/col-end0;
  grid-row: 1 / span 5;
  background: $color-primary !important;
  position: relative;
  font-size: 1rem;
  color: white;
  line-height: 1.1rem;
  justify-self: center;
  padding-left: 0 !important;
  &__btn {
    z-index: 3;
    cursor: pointer;
    p {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      padding: 0 0.5rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
  &__info {
    position: absolute;
    visibility: hidden;
    padding: 1.2rem;
    width: 15rem;
    background: $color-primary;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    transform: translateX(-300px);
  }
}
