.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1fr;
  grid-gap: 1px;
  background-color: black;
  padding: 1px;
  height: 100vh;

  & > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    overflow: scroll;
  }

  .header {
    grid-row-start: 1;
    grid-column: 1 / -1;
  }
  .item1 {
    grid-row-start: 2;
    grid-row-end: 5;
  }
  .item2 {
    grid-row: 2 / span 3;
    grid-column: 2/3;
    scrollbar-width: none;
    #transcription {
      padding: 1rem;
      font-family: "Courier New", Courier, monospace;
      font-size: 1rem;
      text-align: left;
      p {
        margin-bottom: 1rem;
        line-height: 1.3rem;
      }
    }
  }
  .footer {
    grid-column: 1 / -1;
  }
}

/* .grid-container {
        display: flex;
    } */

// .grid-container > div:hover {
//   padding: 50px;
//   padding-bottom: 60vh;
// }
