.item2 {
  grid-row: 2 / span 3;
  grid-column: col-start2 / col-end2;
  overflow: scroll;
  height: calc(100vh - 10.2rem);
  position: relative;
  .music__btn {
    visibility: hidden;
    opacity: 1;
    position: sticky;
    top: 0;
    left: 1rem;
    padding: 0;
    width: 5rem;
    height: 3srem;
    .music {
      display: flex-box;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  #transcription {
    padding: 0 1.5rem;
    font-family: "Gentium Basic", serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: left;

    a:link,
    a:visited {
      text-decoration: none;
      color: $color-tertiary;
      display: inline-block;
      transition: all 200ms ease-in;
    }

    a:hover {
      transform: skewX(20deg);
    }

    p {
      border: 1px solid rgba($color-primary, 0.3);
      border-radius: 50%;
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }

    .int__paragraph {
      padding-left: 6rem;
      color: $color-secondary;
      .int__name {
        display: inline-block;
        transform: skewX(-20deg);
      }
    }
  }
}

.fixedNav {
  position: fixed;
}
