@import "./components/variables.scss";
@import "./components/scroll.scss";
@import "./components/grids.scss";
@import "./components/typography.scss";
@import "./components/footer.scss";
@import "./components/interviewers.scss";
@import "./components/header.scss";
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@400;700&display=swap");
body {
  background-color: #f7f6ee;
  color: $color-primary;
  font-size: 62.5%;
  font-family: "Hepta Slab", serif;
  background: $color-primary;
  scrollbar-width: thin;
}

.wrapper {
  margin: 0 auto;
}
